@import url('https://fonts.googleapis.com/css2?family=Baloo+Da+2:wght@400;600;700&family=Josefin+Slab:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400;1,600&family=Mulish:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400;1,600&display=swap');

@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css");

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

@import url('https://fonts.googleapis.com/css?family=Montserrat');

*{
    margin: 0;
    padding: 0;
    list-style: none; /*tirar todos os tipos de formatação de lista*/
    text-decoration: none;/*tirar todos os tipos de formatação de texto*/
}

/*Para mudar as fontes, usa o elemento root, ele cria uma variável para não ter que mudar em todos os lugares*/
:root {
    --font-primary: "Baloo Da 2", serif;
    --font-secondary: "Josefin Slab", serif;
    --font-third: 'Montserrat', sans-serif;
    --font-action: "Noto Sans" serif;
}


.iconburguer {
    width: 2rem;
    height: 2rem;
    position: fixed;
    z-index: 100;
    right: 2rem;
    top: 2rem;
    display: flex; /*separar as 3 linhas*/
    flex-direction: column;
    justify-content: space-evenly;
    cursor: pointer;
}

/*.show-menu .iconburguer{
    right: 16rem;
}*/

/*Definir cada linha doo menu*/
.line {
    width: 100%;
    height: .1rem; /*altura de cada linha*/
    background-color: whitesmoke;
    box-shadow: 0.1rem 0.1rem 1px rgb(0, 0, 0) ; 
    /*Os dois primeiros parametros sao os eixos X e Y, 
    terceiro parametro é o blur, o quanto vai borrar e o 
    quarto parametro é a cor */
    transition: transform 1s;   
}
.show-menu #line2 {
    opacity: 0;
    visibility: hidden;
}
.show-menu #line1 {
    transform: rotate(45deg) translate(.3rem, .45rem);
}
.show-menu #line3 {
    transform: rotate(-45deg) translate(.3rem, -.45rem);
}
.show-menu .iconburguer:hover {
    border-radius: 100%;
    text-shadow: 0 0 0.2rem #ffffff, 0 0 0.5rem #fdff86,
    -0.2rem 0.1rem 0.5rem #b89d09, 0.2rem 0.1rem 0.5rem #ffe865,
    0 -0.5rem 2rem #fbff24, 0 0.5rem 1rem #f0e112;
    
}
.iconburguer span {
    position: absolute;
    right: 3rem;
    height: 2rem;
    width: 6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-shadow: 0 0 0.2rem #ffffff, 0 0 0.5rem #fdff86,
        -0.2rem 0.1rem 0.5rem #b89d09, 0.2rem 0.1rem 0.5rem #ffe865,
        0 -0.5rem 2rem #fbff24, 0 0.5rem 1rem #f0e112;
    color: whitesmoke;
    font-family: var(--font-primary);
    opacity: 0;
}
.iconburguer span::before {
    content: "";
    position: absolute;
    border-right: -.5rem solid rgba(85, 193, 226, 0.5);
    border-top: -.5rem solid transparent;     
    border-left: -.5rem solid transparent;     
    border-bottom: -.5rem solid transparent; 
    left: -1rem;
}
.show-menu .iconburguer:hover span {
    opacity: 1;
}


/*IMAGEM*/
/*Colocar a unidade de width e height em "%" faz a página ficar responsivo*/
header {
  background: radial-gradient(
    ellipse 80% 80% at 10% 30%,
    #0000009f,
    transparent);
  width: auto;
  height: 100vh;
  max-width: auto;
  overflow: hidden; /*tira a barra de rolagem*/
  position: relative; /*Para ter uma position absolute mais na frente ,precisa desse position relative aqui*/
}
.img.wrapper {
  margin-top: 13%;
  margin-left: 58%;
  width: 60vh;
  height: 60vh;
  overflow: hidden;
  position: relative;
  display: flex;
  justify-content:center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.9);
  border-radius: 50%;
  box-shadow: inset 0 0 0 3px #ffffff;
}
.img.wrapper:hover {
  box-shadow: -0.2rem 0.2rem 0.2rem #ffffff, 0.2rem 0.2rem 0.2rem #ffffff,
  -0.2rem  0.2rem  0.2rem #ffffff, 0.2rem  0.2rem  0.2rem  #ffffff;
}
.img.wrapper img {
  max-width: 100%;
  width: 100%;
  height: 100vh; /*Unidade "vh" faz a imagem se adequar em qualquer resolução */
  object-fit: cover; /*faz a imagem não perder a qualidade ou distorcer*/
  opacity: 0.7;
  animation: zoom 3s;/*animação feita embaixo*/
  } 
@keyframes zoom { /*Para fazer animação, usa a chave @keyframes "nome da animação"*/
    0% {
        transform: scale(1.3);
    }
    100% {
        transform: scale(1);
    }
}


/*BANNER*/
.banner {

    position: absolute;
    top: 25%;
    left: 5%;
}
.banner h1 { /*Vai modificar apenas no h1 da class banner*/
    color: whitesmoke;
    font-size: 2rem;
    font-family: var(--font-third);
    font-weight: 100;
    text-shadow: .3rem .4rem 2px rgba(0.3, 0.2, 0, 0.4);
}
.banner p {
    /*background-image: radial-gradient(
    ellipse 30% 50% at 20% 50%,
    #7760609f,
    transparent);*/
    font-family: var(--font-primary);
    color: whitesmoke;
    font-size: 2rem;
    text-shadow: .2rem, .2rem rgba(0, 0, 0, 0.4);
 }
 .banner p span.typed-text{
    font-weight: normal;
    color: #fce300;
    text-shadow: 0 0 0.6rem #ffe6ff, 0 0 1.5rem #ffffff,
    -0.2rem 0.1rem 1rem #fff9fc, 0.2rem 0.1rem 1rem #ffffff,
    0 -0.5rem 2rem #ffffff, 0 0.5rem 3rem #ffffff;
 }

 .banner p span.cursor {
    display: inline-block;
    background-color: #ccc;
    margin-left: 0.1rem;
    width: 3px;
  }
  .container p span.cursor.typing {
    animation: none;
  }

.banner p.myName {
    font-size: 2rem;
}
 .banner button {
    font-family: var(--font-primary);
    font-size: 1.2rem;
    text-transform: uppercase;
    letter-spacing: .05rem;
    background: transparent;
    background-image: radial-gradient(
        ellipse 80% 50% at 50% 50%,
        #0000009f,
        transparent);
    padding: 1rem 3rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    border-radius: 50%;
    animation: shine 2s forwards, flicker 3s infinite;
 }
 .banner button:hover {
    background: #fff1f15d transparent; 
    border-radius: 50%;
    background-image: radial-gradient(
        ellipse 100% 80%,
        #7760609f,
        transparent);
 }



/*Fazendo o menu lateral*/
.sidebar {
  width: 100%;
  height: 10vh;
  position: fixed;
  top: -100%; /*Foi para o outro lado da tela*/
  transition: all 0.5s;
  opacity: 1;
  z-index: 1;
}
.show-menu .sidebar{
  top: 2%;
}
.menu {
  position: absolute;
  margin-left: 50%;
  top: 1rem;
  transform: translate(-50%, -50%); /*deslocar para que fique centralizadp*/
}
.menu-item {
  position:relative;
  float:left;
  
}
.menu-link {
  /*border:1px solid #c0c0c0;*/
  font-family: var(--font-third);
  font-size: 1rem;
  color: #ffffffc7;
  transition: color 0.5s;
  padding:1rem 1rem; 
  transition: background-color 1s;
  border-radius: 10%;

}
.menu-link:hover {
  padding:1rem 1rem; 
  color: rgb(255, 253, 239);
  text-shadow: 0 0 0.2rem #ffffff, 0 0 0.5rem #fdff86,
      -0.2rem 0.1rem 0.5rem #b89d09, 0.2rem 0.1rem 0.5rem #ffe865,
      0 -0.5rem 2rem #fbff24, 0 0.5rem 1rem #f0e112;

  border-radius: 10%;
}

.social-media{
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: left;
  align-items: left;
  top: 1rem;
}
.social-media i {
    color: rgb(255, 255, 255);
    width: 2.5rem;
    height: 2.5rem;
    /*Alinhando os icones*/
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    transition: background-color 1s;
}
.social-media i:hover {
    background-color: rgba(255, 220, 45, 0.842);
} 



/*Fazendo os quadros de conhecimentos (html, css, JS, bootstrap, design, git e github)*/
.conhecimentos {
  width: 100%;
  background: rgb(0, 0, 0);
  display: grid;
  padding:  1rem 0rem 1rem 0rem;
  margin: 1rem 0rem 1rem 0rem;
  grid-template-columns: repeat(12, 0.5fr);
  grid-template-rows: repeat(2, 1.5rem);
  text-shadow: 0 0 1em transparent (black, 0.5);
  /*row-gap: 1rem;*/
}
.conhecimento:nth-child(1) {
  grid-column: 1/2;
  grid-row: 1 / 3;
  width: 100%;
  height: 100%;
  background-image: url(imagens/Felipecard.jpg);
  position: relative;
  overflow: hidden;
  opacity: 0.8;
}
.conhecimento:nth-child(1):hover{
  background-image: url(imagens/Felipecard.jpg);
  margin-top: .05rem;
  opacity: 1;
  -webkit-transform: scale(1.11);
  -ms-transform: scale(1.11);
  transform: scale(1.05);
  z-index: 1;
  box-shadow: inset 0 0 0 3px #ffffff;
}
@keyframes animacao {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(-5deg);
  }
  50% {
    transform:  rotate(5deg);
  }
  75% {
    transform: rotate(-5deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
.conhecimento:nth-child(2) {
  grid-column: 3/4;
  grid-row: 1 / 3;
  width: 100%;
  height: 100%;
  background: linear-gradient(rgb(11, 76, 255), #0044ff);
  position: relative;
  overflow: hidden;
  opacity: 0.8;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}
.conhecimento:nth-child(2):hover{
  background: linear-gradient(rgb(11, 76, 255), #0044ff);
  margin-top: .05rem;
  opacity: 1;
  -webkit-transform: scale(1.11);
  -ms-transform: scale(1.11);
  transform: scale(1.05);
  z-index: 1;
  box-shadow: inset 0 0 0 3px #ffffff;

}
.conhecimento:nth-child(4) {
  grid-column: 5/6;
  grid-row: 1 / 3;
  width: 100%;
  height: 100%;
  background: linear-gradient(#f7df08, rgb(245, 245, 6));
  position: relative;
  overflow: hidden;
  opacity: 0.8;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}
.conhecimento:nth-child(4):hover{
  background: linear-gradient(#d4c325, rgb(245, 245, 6));
  margin-top: .05rem;
  opacity: 1;
  -webkit-transform: scale(1.11);
  -ms-transform: scale(1.11);
  transform: scale(1.05);
  z-index: 1;
  box-shadow: inset 0 0 0 3px #ffffff;
}
.conhecimento:nth-child(3) {
  grid-column: 7/8;
  grid-row: 1 / 3;
  width: 100%;
  height: 100%;
  background-image: url("imagens/carddesign.png");
  position: relative;
  overflow: hidden;
  opacity: 0.8;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}
.conhecimento:nth-child(3):hover{
  background-image: url("imagens/carddesign.png");
  margin-top: .05rem;
  opacity: 1;
  -webkit-transform: scale(1.11);
  -ms-transform: scale(1.11);
  transform: scale(1.05);
  z-index: 1;
  box-shadow: inset 0 0 0 3px #ffffff;
}
.conhecimento:nth-child(5) {
  grid-column: 9/10;
  grid-row: 1 / 3;
  width: 100%;
  height: 100%;
  background: linear-gradient(rgb(132, 9, 189), #6832b0);
  position: relative;
  overflow: hidden;
  opacity: 0.8;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}
.conhecimento:nth-child(5):hover{
  background: linear-gradient(rgb(132, 9, 189), #6832b0);
  margin-top: .05rem;
  opacity: 1;
  -webkit-transform: scale(1.11);
  -ms-transform: scale(1.11);
  transform: scale(1.05);
  z-index: 1;
  box-shadow: inset 0 0 0 3px #ffffff;
}
.conhecimento:nth-child(6) {
  grid-column: 11/12;
  grid-row: 1 / 3;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgb(231, 14, 14), rgb(240, 14, 14));
    position: relative;
    overflow: hidden;
    opacity: 0.8;
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}
.conhecimento:nth-child(6):hover{
  background: linear-gradient(rgb(231, 14, 14), rgb(240, 14, 14));
  margin-top: .05rem;
  opacity: 1;
  -webkit-transform: scale(1.11);
  -ms-transform: scale(1.11);
  transform: scale(1.05);
  z-index: 1;
  box-shadow: inset 0 0 0 3px #ffffff;
}
.conhecimento{

  border-radius: 2em 2rem 2em 2rem ;
  margin-left: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.conhecimento:hover{
    color: rgb(255, 253, 239);
    text-shadow: 0 0 0.2rem #ffffff, 0 0 0.5rem #ffffff;
    transition: 0.5s all ease-in-out;
    margin-top:-15px;

    
}
.sessao-conhecimentos {
    width: 100%;
    height: 100%; 
       
}

/*Bordas dos titulos
.border{
  margin: 2rem;
  position:absolute;
  background:none;
  transition:all .5s ease-in-out;
  opacity: 0.2;
}
#first>.border:nth-of-type(1){
  top:0;
  left:0;
  border-left:3px solid rgb(255, 255, 255);
  border-top:3px solid rgb(255, 255, 255);
  width:50px;
  height:50px;
}
#first>.border:nth-of-type(2){
  bottom:0;
  right:0;
  border-right:3px solid rgb(255, 255, 255);
  border-bottom:3px solid rgb(255, 255, 255);
  width:50px;
  height:50px;
}
#first:hover .border{
  width:94.6%;
  height:91%;
  opacity: 1;
}*/

.sessao-header { /*Alinhando o texto da sessão conhecimentos*/
  background: #fabfbf;
  position: relative;
  display: flex;
  justify-content: center; /*alinhamento vertical*/
  align-items: center;/*alinhamento horizontal*/
  -webkit-transition: .3s ease-in-out;
}
.sessao-header:hover {
    text-shadow: 0 0 0.2rem #e2ece34d, 0 0 0.5rem #4c4d4686,
      -0.2rem 0.1rem 0.5rem #ffffff, 0.2rem 0.1rem 0.5rem #464542,
      0 -0.5rem 2rem #ffffff, 0 0.5rem 1rem #68675d;
}
.sessao-header h1 {
  font-family: var(--font-third);
  font-size: 2rem;

  color: #ffffff;
  position: relative;
  padding: 0.5rem;
}
.conhecimento-header {
  display: flex;
  align-items: center;
  color: rgb(255, 255, 255);;
  padding: 10%;
}
.conhecimento-header i{
  font-size: 3rem;
  display: flex;
  justify-content: center;
}
.conhecimento-header h3{
  font-family: var(--font-primary);
  font-size: 2rem;
  padding-left: 1rem;/*Distancia entre o icone e o texto*/
  padding-top: .5rem;
}
.conhecimento-text {
  font-family: var(--font-primary);
}
.conhecimento-text:hover {
  font-family: var(--font-primary);
}


/*PROJETOS*/
/*BOM PARA CARDS COM IMAGEM*/
.projetos {
  display: flex;
  justify-content: space-evenly;
  opacity: .8;
  margin-top: 1rem;
}
.card{
  position: relative;
  width: 20rem;
  height: 30rem;
}
.card-img-wrapper{
  width: 100%;
  height: 100%;
  background-color: #262626;
  border-radius: .5rem;

}
.card-img-wrapper img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: .5rem;
  opacity: .8;
  transition: opacity .3s;
}
.card:hover .card-img-wrapper img {
  opacity: .5;
}

.card-info{
  position: absolute;
  bottom: 0; 
  opacity: 0;
  visibility: hidden;
  padding: 2rem;
  text-shadow: 0.3rem 0.2rem 0.3rem rgba(0, 0, 0, 0.4);
  transition: all .5s;
}
.card-info h2{
  font-family: var(--font-action);
  font-size: 3rem;
  font-weight: 500;
  color: #eee;
  margin-bottom: 1rem;
  transition: all .2s;
}
.card-info h3{
  font-family: var(--font-primary);
  font-weight: bolder;
  color: rgb(190, 99, 99);
  margin-bottom: 1.5rem;
  transition: all .3s;
}
.card-info p{
  font-family: var(--font-primary);
  font-weight: 400;
  color: rgb(0, 255, 255);
  width: 80%;
  margin-bottom: 2rem;
  transition: all .4s;
}

.btn{
  background-color: rgb(0, 255, 34);
  font-family: var(--font-primary);
  font-size: 1rem;
  padding: .5rem;
  border-radius: .5rem;
  border: n;
  box-shadow: 0.1rem 0.8rem rgba(0, 0, 0, 0.4);
  transition: all .5s;
  cursor: pointer;
}
.card-info button{
  width: 8rem;
  height: 2.5rem;
}
.card:hover .card-info{
  bottom: 2rem;
  opacity: 1;
  visibility: visible;
}


/*CONTATO - FORMULÁRIO*/
.sessao-contato{
  /*Definir altura e largura*/
  width: 100%;
  height: 100vh;
  background-color: #272727;
  /*Alinhando no centro da tela*/
  display: flex;
  align-items: center;
  justify-content: center;
}
.contato-wrapper{
  width: 60%;
  height: 40rem;
  display: flex;
  box-shadow: 0 2rem 3rem rgba(0, 0, 0, 0.5);
}
.contato-left{
  width: 35%;
  background: linear-gradient(rgba(15,15,15,0.6), rgba(22,22,22,0.9)), 
              url(imagens/formulario.jpg);
  background-size: cover;
}
.contato-right{
  width: 65%;
  background-color: #eee;
  padding: 4rem 1rem 0rem 4rem;
}
.sessao-contato h1{
  font-family: var(--font-third);
  text-align: center;
  color: #1f191c;
  font-size: 3rem;
  font-weight: lighter;
}
.sessao-contato form{
  width: 100%;
  display: flex;/*automaticamente coloca um do lado do outro*/
  flex-direction: column;/*Aqui coloca os itens em colunas*/
  align-items: center;
}

.input-group{
  position: relative;
}
.input-group textarea{
  padding-top:1.5rem ;
  max-width: 20rem;
  min-width: 10rem;
  max-height: 15rem;
  min-height: 5rem;
}

.field{
  background: transparent;
  border: none;
  width: 20rem;
  font-size: 1.5rem;
  font-family: var(--font-action);
  border-bottom: 2px dashed #27272727;
  height: 3rem;
  outline: none;
  margin: 1rem 0;
}
.field-label{
  position: absolute;
  left: 0;
  top: 2rem;
  font-family: var(--font-action);
  text-transform: uppercase;
  transition: all 0.3s;
}
.field:focus ~ label{
  top: 0;
  font-size: 1rem;
}
.field:focus{
  border-bottom: 1PX solid;
}
.btn-submit{
  text-transform: uppercase;
  width: 100%;
  height: 4rem;
  background-color: rgb(166, 184, 168);
  font-family: var(--font-primary);
  font-size: 1.5rem;
  padding: .5rem;
  border-radius: .5rem;
  border: n;
  box-shadow: 0.1rem 0.8rem rgba(0, 0, 0, 0.4);
  transition: all .5s;
  cursor: pointer;
}

/**********************************************************************************/


.active {
  transform: translate(0%, 20%)  !important;
}

